@charset "utf-8";
/* CSS Document */

/*Her laves forsidebilledet "frontimg" responsive*/
body, ul {
	background-color:beige;
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
ul {background-color: cadetblue}
/*-------------------------------------------------------------*/
/*---------------Responsive elementer------------------------ */
.frontimg {
	width:100%;
	height:auto;	
}

.container{
	margin-left:15%;
	margin-right:15%;
}

@media (max-width:1160px) {
	.container {
		margin-left:10%;
		margin-right:10%;	
		}
	.navigation {
		font-size:18px;	
		}
}
@media (max-width:600px) {
	.container {
		margin-left:5%;
		margin-right:5%;	
		}
	.navigation {
		font-size:18px;	
		}
}
/*-------------------------------------------------------------*/
/*----------navigation----------------------------------------*/
.navbar {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color: cadetblue;
	padding: 12px 50px;
	overflow:hidden;
	position: sticky;
	top: 0;
	border-radius: 5px;
	z-index: 10;
	}
.navbar a:hover{
	color:white;
	text-shadow: 0px 0px 10px black;
}

.menu {
	display: flex;
	list-style: none;
	}
.menu li {
	margin:5px 30px 5px 0px;
	}
.menu a {
	color: beige;
	text-decoration: none;
	font-family:"Hoefler Text","Times New Roman", "serif";
	font-weight: bold;
	font-style:normal;
	font-size: 24px;
	}

/*----burgermenu ved alm screen------*/
.menu-box {
	display: none;
	cursor: pointer;
	}

/*----burgermenu---------------------*/
.menu-box div {
	width: 30px;
	height: 5px;
	background-color: beige;
	margin: 5px;
	transition: all 0.5s ease;
	border-radius: 5px;
	}
/*----Searchbar----------------------*/
.search-form {
	display: flex;
	align-items:center;
}
.search-form input {
	padding:5px;
	font-size: 16px;
	font-style: italic;
	border:none;
	border-radius: 5px;
	background-color:lightcyan;
	color:black;
	cursor: pointer;	
}
.search-form button{
	margin-left:5px;
	margin-right:-25px;
}
.search-form button:hover {
	background-color:lightgrey;
}

/*----highlight current menu----------*/
#home-title a{
	color:white;
	text-shadow: 0px 0px 10px black;
	}

/*-------------------------------------------------------------*/
/*------------Main tekst -------------------------------------*/
main, header {
	padding:5% 1% 5% 1%;
}
header h1{
	display:flex;
	justify-content: center;
	font-size: 38px;
}
header h2 {
	display:flex;
	justify-content: center;
	font-size: 22px;
	font-weight:normal;
}

header p{
	margin-left:5%;
	margin-right: 5%;
	font-size: 20px;
	line-height: 1.35;
}

.header-title {
	margin-right:50px;
	margin-left:50px; 
}

.whatis {
	display:block;
	background-color:darkseagreen;
	margin: 20px -5px 20px -5px;
	padding: 7% 5% 10% 5%;
	color:black;
	border-radius: 5px;
	}
.whatis-text{
	margin-right:50px;
	margin-left:50px;
	font-size: 18px;
	font-family: "Palatino Linotype","Times New Roman","serif";
}

/*----Play now image-------------------*/
#playimg {
	display:block;
	width: 100%;
	height: auto;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5%;
	border: 1px solid #FA8312;
	border-radius:5px;
	box-shadow: 0 0 8px 1px darkred;
	}
.container2 {
	position:relative;
	display: block;
	width: 100%;
	height: auto;
}
/*----Buttons for downloading----------*/
.play-button {
	position: absolute;
	display:flex;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:orange;
	color:white;
	border: none;
	padding: 20px 20px;
	margin:5px 2px;
	font-size:18px;
	border-radius: 25px;	/*afrunder knappen*/
	box-shadow: 0px 0px 5px 6px orangered; 	
	cursor:pointer;			/*cursor bliver til klik ikon*/
	}

.iOS {
	position: absolute;
	display:flex;
	top:78%;
	left: 40%;
	transform: translate(-40%, -70%);
	background-color: transparent;
	padding: 20px 20px;
	border: none;
	font-size:18px;
	margin:5px 2px;
	cursor:pointer;	
}
.android {
	position: absolute;
	display:flex;
	top:78%;
	right: 20%;
	transform: translate(-80%, -70%);
	background-color: transparent;
	border: none;
	font-size:18px;
	margin:5px 2px;
	padding: 20px 20px;
	cursor:pointer;		/*afrunder knappen*/
}

/*-------------------------------------------------------------*/



/*------Footer style -----------------------------------*/
footer {
	display: flex;
	list-style-type: none;
	justify-content: flex-start;
	background-color: cadetblue;
	margin-right: 0px;
	margin-left:0px;
	padding:15px;
	border-radius: 10px;
}
.footer-info {
	margin: 10% 20% 15% 20%;
}
.footer-logos {
	display: flex;
	justify-content: flex-end;
}

/*------------Contact form --------------*/
.contact-form {
	display: grid;
	justify-content:flex-start;
}
.input-text {
	border-radius: 5px;
	width: 100%;
	padding:10px 300px 15px 10px;
	margin: 2px 0;
	font-size:14px;
	box-sizing: border-box;
	border-color: #2D4B4C;
	border-width: 3px;
	box-shadow: 0 0 0 0 ;		/*Hvordan fjerne sort kant?*/	
}
.submit-button {
	border-radius: 4px;
}
.form-submit button:hover {
	background-color:lightgrey;
}

/*-------------------------------------------------------------*/
/*---------Responsiveness  -----------------------------------*/

#menu-active {
	display: none;		/*checkbox usynlig*/
}
@media (max-width: 1160px) {
	.footer-info {
		width: 100%;
		margin: 1% 20% 1% 20%;
	}
	.input-text {
		padding: 10px 10px 15px 10px;
	}
/*---------for burgermenu-----------------*/	
	.menu {
		display:none;
		flex-direction: column;
		width:100%;
	}
	.menu li {
		text-align: center;
		padding:10px 0;
		width:100%;
		
	}
	.menu-box {
		display:block;				
	}
	
	#menu-active:checked + .menu-box + .menu {
		display:flex;
	}
	#menu-active:checked + .menu-box .line1 {			/*line 1*/
		transform:rotate(-45deg) translate(-12px,-10px);
	}
	#menu-active:checked + .menu-box .line2 {			/*line 2*/
		opacity: 0;
	}
	#menu-active:checked + .menu-box .line3 {			/*line 3*/
		transform:rotate(45deg) translate(-35px,-20px);
	}
	
}
