@charset "utf-8";
/* CSS Document */

body, ul {
	background-color:beige;
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
ul {background-color: cadetblue}

/*responsive elementer*/
.frontimg {
	width:100%;
	height:auto;	
	}

.container{
	margin-left:15%;
	margin-right:15%;
	}


@media (max-width:1160px) {
	.container {
		margin-left:10%;
		margin-right:10%;	
	}
	.navigation {
		font-size:18px;	
	}
}
@media (max-width:600px) {
	.container {
		margin-left:5%;
		margin-right:5%;	
	}
	.navigation {
		font-size:18px;	
	}
}


/*----nav menu------------------------------------------*/
.navbar {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color: cadetblue;
	padding: 12px 50px;
	overflow:hidden;
	position: sticky;
	top: 0;
	border-radius: 5px;
	}
.navbar a:hover{
	color:white;
	text-shadow: 0px 0px 10px black;
	}

/*--highlight current menu------------------*/
#guide-title a{
	color:white;
	text-shadow: 0px 0px 10px black;
	}
/*------------------------------------------*/

.menu {
	display: flex;
	list-style: none;
	}
.menu li {
	margin:5px 30px 5px 0px;
	}
.menu a {
	color: beige;
	text-decoration: none;
	font-family:"Hoefler Text","Times New Roman", "serif";
	font-weight: bold;
	font-style:normal;
	font-size: 24px;
	}

/*--------burgermenu ved alm screen------*/
.menu-box {
	display: none;
	cursor: pointer;
	}

/*--------burgermenu---------------------*/
.menu-box div {
	width: 30px;
	height: 5px;
	background-color: beige;
	margin: 5px;
	transition: all 0.5s ease;
	border-radius: 5px;
	}
/*--------Searchbar----------------------*/
.search-form {
	display: flex;
	align-items:center;
}
.search-form input {
	padding:5px;
	font-size: 16px;
	font-style: italic;
	border:none;
	border-radius: 5px;
	background-color:lightcyan;
	color:white;
	cursor: pointer;	
}
.search-form button{
	margin-left:5px;
	margin-right:-25px;
}
.search-form button:hover {
	background-color:lightgrey;
}

/*---------------------------------------------------------------*/
/*-----Side menu------------------------------------------------*/
.sidenav { 
	width: 200px;
	position:fixed; 
	top:500px; 
	left:10px; 
	background-color:transparent; 
	overflow-x: hidden;  	
}
.sidenav a {
	text-decoration: none;
	color: black;
	font-size:20px;
}
.sidenav li {
	list-style:none;
	margin: 20px 10px 0px 30px;
}

.sidenav li:hover { 
	border-bottom: thin solid #C6C6A1;
}

@media (max-width:1160px) {.sidenav{display: none;}}

/*---------------------------------------------------------------*/
/*-----content ---------------------------------------------*/
.news p {
	font-size: 22px;
	font-weight: 800;
	margin-bottom: 10px;
	border-bottom: thin solid #88885E;
	}

.page-text {
	margin-left: 0px;
	margin-right: 0px;
	}
.about1 {
	
	}

.img80s {
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	border-bottom: thin dotted #88885E;
	}
.stage1img {
	width:100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	border-bottom: thin dotted #88885E;
}
.officeimg{
	width:100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	border-bottom: thin dotted #88885E;
}
.stage2img {
	width:100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	border-bottom: thin dotted #88885E;
}
.projectimg {
	width:100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	border-bottom: thin dotted #88885E;
}
/*----play now-------------------------*/
#playimg {
	display:block;
	width: 100%;
	height: auto;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 100px;
	margin-bottom:100px;
	border: 1px solid #FA8312;
	border-radius:5px;
	box-shadow: 0 0 8px 1px darkred;
	}
.container2 {
	position:relative;
	display: block;
	width: 100%;
	height: auto;
}
/*----Buttons for downloading----------*/
.play-button {
	position: absolute;
	display:flex;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:orange;
	color:white;
	border: none;
	padding: 20px 20px;
	margin:5px 2px;
	font-size:18px;
	border-radius: 25px;	/*afrunder knappen*/
	box-shadow: 0px 0px 5px 6px orangered; 	
	cursor:pointer;			/*cursor bliver til klik ikon*/
	}

.iOS {
	position: absolute;
	display:flex;
	top:85%;
	left: 40%;
	transform: translate(-50%, -70%);
	background-color: transparent;
	padding: 20px 20px;
	border: none;
	font-size:18px;
	margin:5px 2px;
	cursor:pointer;	
}
.android {
	position: absolute;
	display:flex;
	top:85%;
	right: 20%;
	transform: translate(-55%, -70%);
	background-color: transparent;
	border: none;
	font-size:18px;
	margin:5px 2px;
	padding: 20px 20px;
	cursor:pointer;		/*afrunder knappen*/
}

/*-------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*-----Contact form ---------------------------------------------*/
.contact-form {
	display: grid;
	justify-content:flex-start;
}
.input-text {
	border-radius: 5px;
	width: 100%;
	padding:10px 300px 15px 10px;
	margin: 2px 0;
	font-size:14px;
	box-sizing: border-box;
	border-color: #2D4B4C;
	border-width: 3px;
	box-shadow: 0 0 0 0 ;		/*Hvordan fjerne sort kant?*/	
}

/*Footer style -----------------------------------*/
footer {
	display: flex;
	list-style-type: none;
	justify-content: flex-start;
	background-color: cadetblue;
	margin-right: 0px;
	margin-left:0px;
	padding:15px;
	border-radius: 10px;
}
.footer-info {
	margin: 10px 200px 50px 200px;
}
.footer-logos {
	display: flex;
	justify-content:flex-start;
}
.submit-button {
	border-radius: 4px;
}

/*---------Responsiveness for burgermenu ---------------*/

#menu-active {
	display: none;		/*checkbox usynlig*/
}
@media (max-width: 1200px) {
	/*about text*/
	footer {
		width: 100%;
	}
	.footer-info {
		width: 100%;
		margin: 10px 200px 10px 200px;
	}
	.input-text {
		padding: 10px 10px 15px 10px;
	}
/*--------------------------*/	
	.menu {
		display: none;
		flex-direction: column;
		width:100%;
	}
	.menu li {
		text-align: center;
		padding:10px 0;
		width:100%;
		
	}
	.menu-box {
		display:block;				
	}
	
	#menu-active:checked + .menu-box + .menu {
		display:flex;
	}
	#menu-active:checked + .menu-box .line1 {			/*line 1*/
		transform:rotate(-45deg) translate(-12px,-10px);
	}
	#menu-active:checked + .menu-box .line2 {			/*line 2*/
		opacity: 0;
	}
	#menu-active:checked + .menu-box .line3 {			/*line 3*/
		transform:rotate(45deg) translate(-35px,-20px);
	}


} 